<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">URL Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>
                    <div class="card">
                        <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>