div(class='bg-dark py-3') 
     ul(class="nav d-flex justify-content-around")
          div 
               li(class="nav-item")
                    a(class="nav-link text-white" aria-current="page" href="/api") PUG 
          div(class='d-flex')
               li(class="nav-item")
                    a(class="nav-link text-white" aria-current="page" href="/api") Inicio
               li(class="nav-item")
                    a(class="nav-link text-white" aria-current="page" href="/api/products") Productos
